*.o
*.mod
.gmt*
.ematrix6_control
Au/Au
CIJ_Hudson/CIJ_Hudson
CIJ_Reuss/CIJ_Reuss
CIJ_TandW/CIJ_TandW
CIJ_VRH/CIJ_VRH
CIJ_Voigt/CIJ_Voigt
CIJ_axial_average/CIJ_axial_average
CIJ_global_VTI/CIJ_global_VTI
CIJ_iso_av/CIJ_iso_av
CIJ_normalise/CIJ_normalise
CIJ_phasevels/CIJ_phasevels
CIJ_plot/CIJ_plot_cij2phasevels
CIJ_rot3/CIJ_rot3
CIJ_rot_euler/CIJ_rot_euler
CIJ_scale_to_iso/CIJ_scale_to_iso
CIJ_stable/CIJ_stable
CIJ_thom/CIJ_thom
CIJ_thom/CIJ_thom_list
CIJ_thom/CIJ_thom_st
Cij2cijkl/Cij2cijkl
EC_grid_21to36/EC_grid_21to36
EC_grid_bin_dump/EC_grid_bin_dump
EC_grid_conv/EC_grid_asc2bin
EC_grid_conv/EC_grid_bin2asc
EC_grid_edit_bin/EC_grid_edit_bin
EC_grid_inquire/EC_grid_inquire
EC_grid_inquire/EC_grid_inquire_bin
EC_grid_interp/EC_grid_interp_bin
EC_grid_new/EC_grid_new_bin
EC_grid_normalise_bin/EC_grid_normalise_bin
EC_grid_rotate/EC_grid_rotate_bin
EC_rot3/EC_rot3
EC_rot3/EC_rot3_xyz
cijkl2Cij/cijkl2Cij
